[submodule "packer/bento"]
	path = packer/bento
	url = git@github.com:OsgiliathEnterprise/bento.git
[submodule "ansible/roles/ansible-containerization"]
	path = ansible/roles/ansible-containerization
	url = git@github.com:OsgiliathEnterprise/ansible-containerization.git
[submodule "ansible/roles/ansible-volumes"]
	path = ansible/roles/ansible-volumes
	url = git@github.com:OsgiliathEnterprise/ansible-volumes.git
[submodule "ansible/roles/ansible-securehost"]
	path = ansible/roles/ansible-securehost
	url = git@github.com:OsgiliathEnterprise/ansible-securehost.git
[submodule "ansible/roles/ansible-users"]
	path = ansible/roles/ansible-users
	url = git@github.com:OsgiliathEnterprise/ansible-users.git
[submodule "ansible/roles/ansible-virtualization"]
	path = ansible/roles/ansible-virtualization
	url = git@github.com:OsgiliathEnterprise/ansible-virtualization.git
[submodule "ansible/roles/ansible-virtualization-guest"]
	path = ansible/roles/ansible-virtualization-guest
	url = git@github.com:OsgiliathEnterprise/ansible-virtualization-guest.git
[submodule "ansible/roles/ansible-routing"]
	path = ansible/roles/ansible-routing
	url = git@github.com:OsgiliathEnterprise/ansible-routing.git
[submodule "ansible/roles/ansible-directory"]
	path = ansible/roles/ansible-directory
	url = git@github.com:OsgiliathEnterprise/ansible-directory.git
[submodule "ansible/roles/ansible-orchestration"]
	path = ansible/roles/ansible-orchestration
	url = git@github.com:OsgiliathEnterprise/ansible-orchestration.git
