[submodule "packer/bento"]
	path = packer/bento
	url = git@github.com:OsgiliathEnterprise/bento.git
[submodule "ansible/roles/tcharl.ansible_containerization"]
	path = ansible/roles/tcharl.ansible_containerization
	url = git@github.com:OsgiliathEnterprise/ansible-containerization.git
[submodule "ansible/roles/tcharl.ansible_volumes"]
	path = ansible/roles/tcharl.ansible_volumes
	url = git@github.com:OsgiliathEnterprise/ansible-volumes.git
[submodule "ansible/roles/tcharl.ansible_securehost"]
	path = ansible/roles/tcharl.ansible_securehost
	url = git@github.com:OsgiliathEnterprise/ansible-securehost.git
[submodule "ansible/roles/tcharl.ansible_localuser"]
	path = ansible/roles/tcharl.ansible_localuser
	url = git@github.com:OsgiliathEnterprise/ansible-localuser.git
[submodule "ansible/roles/tcharl.ansible_users"]
	path = ansible/roles/tcharl.ansible_users
	url = git@github.com:OsgiliathEnterprise/ansible-users.git
[submodule "ansible/roles/tcharl.ansible_virtualization"]
	path = ansible/roles/tcharl.ansible_virtualization
	url = git@github.com:OsgiliathEnterprise/ansible-virtualization.git
[submodule "ansible/roles/tcharl.ansible_virtualization_guest"]
	path = ansible/roles/tcharl.ansible_virtualization_guest
	url = git@github.com:OsgiliathEnterprise/ansible-virtualization-guest.git
[submodule "ansible/roles/tcharl.ansible_routing"]
	path = ansible/roles/tcharl.ansible_routing
	url = git@github.com:OsgiliathEnterprise/ansible-routing.git
[submodule "ansible/roles/tcharl.ansible_directory"]
	path = ansible/roles/tcharl.ansible_directory
	url = git@github.com:OsgiliathEnterprise/ansible-directory.git
[submodule "ansible/roles/tcharl.ansible_orchestration"]
	path = ansible/roles/tcharl.ansible_orchestration
	url = git@github.com:OsgiliathEnterprise/ansible-orchestration.git
[submodule "ansible/roles/tcharl.orchestration_csi"]
	path = ansible/roles/tcharl.orchestration_csi
	url = git@github.com:OsgiliathEnterprise/orchestration_csi.git
[submodule "ansible/roles/tcharl.kube_certmanager"]
	path = ansible/roles/tcharl.kube_certmanager
	url = git@github.com:OsgiliathEnterprise/kube_certmanager.git
[submodule "ansible/roles/tcharl.ansible_orchestration_cli"]
	path = ansible/roles/tcharl.ansible_orchestration_cli
	url = git@github.com:OsgiliathEnterprise/ansible-orchestration-cli.git
[submodule "ansible/roles/tcharl.servicemesh"]
	path = ansible/roles/tcharl.servicemesh
	url = git@github.com:OsgiliathEnterprise/servicemesh.git
[submodule "ansible/roles/tcharl.ansible_nameserver"]
	path = ansible/roles/tcharl.ansible_nameserver
	url = git@github.com:OsgiliathEnterprise/ansible-nameserver.git
[submodule "ansible/roles/tcharl.ansible_container_registry"]
	path = ansible/roles/tcharl.ansible_container_registry
	url = git@github.com:OsgiliathEnterprise/ansible-container-registry.git
[submodule "ansible/roles/tcharl.ansible_iam"]
	path = ansible/roles/tcharl.ansible_iam
	url = git@github.com:OsgiliathEnterprise/ansible-iam.git
[submodule "ansible/roles/tcharl.freeipa_server"]
	path = ansible/roles/tcharl.freeipa_server
	url = git@github.com:OsgiliathEnterprise/freeipa_server.git
[submodule "ansible/roles/tcharl.fail2ban"]
	path = ansible/roles/tcharl.fail2ban
	url = git@github.com:OsgiliathEnterprise/fail2ban.git
[submodule "ansible/roles/tcharl.etchost_append"]
	path = ansible/roles/tcharl.etchost_append
	url = git@github.com:OsgiliathEnterprise/etchost_append.git
[submodule "ansible/roles/tcharl.nfs_server"]
	path = ansible/roles/tcharl.nfs_server
	url = git@github.com:OsgiliathEnterprise/nfs_server.git
[submodule "ansible/roles/tcharl.nfs_client"]
	path = ansible/roles/tcharl.nfs_client
	url = git@github.com:OsgiliathEnterprise/nfs_client.git
[submodule "ansible/roles/tcharl.bind9"]
	path = ansible/roles/tcharl.bind9
	url = git@github.com:OsgiliathEnterprise/bind9.git
[submodule "ansible/roles/oss/ansible-bind"]
	path = ansible/roles/oss/ansible-bind
	url = git@github.com:OsgiliathEnterprise/ansible-bind.git
[submodule "ansible/roles/oss/tcharl.ansible_hostname"]
	path = ansible/roles/oss/tcharl.ansible_hostname
	url = git@github.com:OsgiliathEnterprise/ansible-role-hostname.git
[submodule "ansible/roles/oss/tcharl.ansible_libvirt_vm"]
	path = ansible/roles/oss/tcharl.ansible_libvirt_vm
	url = git@github.com:OsgiliathEnterprise/ansible-role-libvirt-vm.git
[submodule "ansible/roles/oss/tcharl.ansible_role_libvirt_host"]
	path = ansible/roles/oss/tcharl.ansible_role_libvirt_host
	url = git@github.com:OsgiliathEnterprise/ansible-role-libvirt-host.git
[submodule "ansible/roles/oss/tcharl.kubernetes"]
	path = ansible/roles/oss/tcharl.kubernetes
	url = git@github.com:OsgiliathEnterprise/ansible-role-kubernetes.git
[submodule "docker-compose/mailcow-dockerized"]
	path = docker-compose/mailcow-dockerized
	url = git@github.com:OsgiliathEnterprise/mailcow-dockerized.git
