---
hostname_reboot: false
configure_nfs: True
docker_install_compose: false
# kube_firewall_trusted_zone: 'public'
kube_cluster_subnet: 192.168.1.130/27 # Do not remove: used by kube-firewall.yml to shrink the trusted sources
kube_firewall_zone: 'internal'
# containerd_config_cgroup_driver_systemd: False
nfs_mountpoints:
  - host: host.internal.osgiliath.net
    mountpoints:
     - remote: /var/shared
       csi_mount: Yes
       insecure: True
